/* hamburger  */

.navToggle {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em 0.5em;
  border: none;
  background: var(--primary-bg);
  cursor: pointer;
  z-index: 100;
}

.hamburger {
  position: relative;
  display: block;
}

.hamburger,
.hamburger::before,
.hamburger:after {
  height: 4px;
  width: 1.5em;
  background-color: var(--body);
  transition: 0.3s ease-in-out;
}

.hamburger::before,
.hamburger:after {
  content: "";
  position: absolute;
  left: 0;
}

.hamburger::before {
  bottom: 8px;
}

.hamburger:after {
  top: 8px;
}

/* mobile nav */

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--secondary-bg);
  opacity: 0%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.4s ease-in-out;
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: 3em;
    
  }
}

.navMenu {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.navItem {
  font-family: var(--poppins);
  font-size: 2.5em;
  line-height: 1.25;
  font-weight: 700;
  color: var(--headings);
}

@media (min-width: 43.75em) {
  .navItem {
    font-size: 2.5em;
    line-height: 1.125;
  }
}

@media (min-width: 56.25em) {
  .navItem {
    font-size: 3em;
    line-height: 1.05;
  }
}

.menuContact p > i {
  color: var(--primary-color);
  padding-right: 0.75rem;
}

.socialLinks {
  margin-top: 1.5em;
}

/* on-click changes */
.navOpen .nav {
  opacity: 1;
  z-index: 2;
}

.navOpen .hamburger {
  transform: rotate(45deg);
}

.navOpen .hamburger::before {
  opacity: 0;
}

.navOpen .hamburger::after {
  transform: rotate(90deg) translate(-8px);
}
