/* hamburger  */
.navToggle {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2em 0.5em;
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 100;
  transition: 0.35s ease-in-out;
}

.hamburger {
  position: relative;
  display: block;
}

.hamburger,
.hamburger::before,
.hamburger:after {
  height: 3px;
  width: 1.5em;
  background-color: var(--clr-white);
  transition: 0.3s ease-in-out;
}

.hamburger::before,
.hamburger:after {
  content: "";
  position: absolute;
  left: 0;
}

.hamburger::before {
  bottom: 8px;
}

.hamburger:after {
  top: 8px;
}

/* nav */

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: translateY(-100%);
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
  background: linear-gradient(
      0deg,
      rgba(140, 34, 41, 0.6),
      rgba(140, 34, 41, 0.75)
    ),
    url("/images/hero-bg.png");
  background-position: center;
  background-size: cover;
  transition: 0.5s ease-in-out;
}

.navMenu {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.navLink {
  font-family: "Poppins", sans-serif;
  font-size: 3em;
  line-height: 1.25;
  font-weight: 700;
  color: var(--clr-white);
  transition: 0.23s ease-in-out;
}

.navLink:hover {
  color: var(--clr-black);
}

@media (max-width: 480px) {
  .navLink {
    font-size: 1.75em;
    line-height: 1.125;
  }
}

.header .socialLinks {
  margin-top: 1.5em;
  color: var(--clr-white);
  padding-right: 10em;
}

.header .socialLinks:hover {
  color: var(--clr-black);
}

/* on-click changes */
.navOpen .nav {
  z-index: 2;
  transform: translateY(0);
  overflow-y: hidden;
}

.navOpen .hamburger {
  transform: rotate(45deg);
}

.navOpen .hamburger::before {
  opacity: 0;
}

.navOpen .hamburger::after {
  transform: rotate(90deg) translate(-8px);
}

.navOpen .navMenu {
  display: flex;
}

.navOpen .navToggle {
  background-color: var(--headings);
}

.navOpen .hamburger,
.navOpen .hamburger::before,
.navOpen .hamburger:after {
  background-color: var(--clr-white);
}

.navOpen .logo {
  filter: brightness(200);
}

.navOpen body {
  overflow-y: hidden;
  position: fixed;
}
