/* Header */

.header {
  background-color: var(--primary-bg);
  animation: fade-in 1.5s;
}

.header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  max-width: 50px;
}

.header a > img {
  transition: 0.23s ease-in-out;
}

.header a > img:hover {
  opacity: 0.75;
}

/* Hero */
.hero {
  height: 75vh;
  animation: fade-in 1.5s;
}

.hero .flex {
  flex-direction: column;
  justify-content: space-evenly;
}

.hero h3 {
  max-width: 40ch;
  line-height: 1.5;
}

.hero h3 {
  font-weight: 300;
}

.hero .cv {
  background-color: transparent;
  color: var(--body);
}

.hero i {
  padding-left: 0.5em;
}

.heroButtons {
  display: flex;
}

@media (max-width: 760px) {
  .heroButtons {
    flex-direction: column-reverse;
  }
}

/* Projects */

.projects {
  color: var(--text-color-alt);
  animation: fade-in 1.5s;
}

.projects img {
  max-width: 475px;
}

.projects h3 {
  margin-top: 1.5rem;
}

.projects .grid {
  justify-content: space-evenly;
  justify-items: center;
  gap: 1em;
}

.projects .project-item {
  padding: 30px;
  margin: 20px;
}

.live {
  background-color: var(--secondary-bg);
}
