/* Header */

.header {
  background-color: var(--primary-bg);
  animation: fade-in 1.5s;
}

.header img {
  max-width: 50px;
}

.header a {
  transition: 0.23s ease-in-out;
}

.header a:hover {
  opacity: 0.75;
}
.header .flex {
  justify-content: space-between;
}

.nav li {
  padding: 0 5px;
  margin: 0 5px;
  font-weight: 500;
}

/* Hero */
.hero {
  height: 75vh;
  animation: fade-in 1.5s;
}

.hero .flex {
  flex-direction: column;
  justify-content: space-evenly;
}

.hero h3 {
  max-width: 40ch;
}

.hero h3 {
  font-weight: 300;
}

/* Projects */

.projects {
  color: var(--text-color-alt);
  animation: fade-in 1.5s;
}

.projects img {
  max-width: 475px;
}

.projects h3 {
  margin-top: 1.5rem;
}

.projects .grid {
  justify-content: space-evenly;
  justify-items: center;
  gap: 1em;
}

.projects .project-item {
  padding: 30px;
  margin: 20px;
}

.live {
  background-color: var(--secondary-bg);
}

/* Devices */

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

/* animation */

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
