@import url("https://fonts.googleapis.com/css2?family=PT+Mono&family=Poppins:wght@900&display=swap");

:root {
  --clr-white: #fff;
  --clr-black: #111;
  --clr-red: #ea192c;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.header,
.hero,
.about,
.contact,
.footer {
  background-image: url("/images/hero-bg.png");
  background-size: cover;
  background-position: right;
}

body,
input,
textarea,
button,
sup,
blockquote {
  font-family: "PT Mono", monospace;
  font-size: 20px;
  line-height: 1.8;
  color: var(--clr-white);
}

section {
  height: 100vh;
  padding-block: min(15vh, 10rem);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--clr-white);
}

a:hover {
  filter: brightness(65%);
}

h1,
h2 {
  font-family: var(--poppins);
  font-weight: 800;
  margin: 1.5rem 0;
  text-transform: uppercase;
  color: var(--headings);
}

h3 {
  color: var(--headings);
}

p,
li {
  margin: 10px 0;
  color: var(--body);
}

img {
  width: 100%;
}

.container {
  max-width: 1600px;
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.wrapper {
  overflow-x: hidden;
  position: relative;
}

.card {
  background-color: white;
  padding: 10%;
}

.btn {
  display: flex;
  flex-direction: column;
  place-items: center;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

.socialLinks a {
  margin-right: 1rem;
  color: var(--clr-white);
  opacity: 0.75;
  transition: 0.23s ease-in-out;
}

.socialLinks a:hover {
  opacity: 1;
  color: var(--clr-black);
}

/* .overflow {
  overflow-y: hidden;
} */

/* Header */

.header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fade-in 1.5s;
}

.logo {
  max-width: 125px;
  width: 100%;
  transition: 0.23s ease-in-out;
  opacity: 0.88;
  z-index: 3;
}

/* footer */

.footer .cta {
  background-color: var(--secondary-color);
}

.footer .cta h2 {
  color: var(--primary-bg);
}

.footer .cta .btn {
  color: var(--secondary-color);
  background-color: var(--primary-bg);
  border: none;
}

.footer .footerBottom {
  background-color: var(--secondary-bg);
}

.footer .footerBottom p {
  font-size: 0.9em;
}

.footer .flex {
  flex-direction: column;
}

.footer .socialLinks {
  padding: 0;
}

/* Layout */

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-r {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/* Devices */

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

/* animation */

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Margin */

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 7rem;
}

.mx-5 {
  margin: 0 10vw;
}

/* Padding */

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 3rem;
}

.p-5 {
  padding: 4rem;
}

/* Text */
.text-center {
  text-align: center;
}

body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size-adjust: 0.5;
}

#page {
  font-size: 1em;
  line-height: 1.25;
}

@media (min-width: 43.75em) {
  #page {
    font-size: 1em;
    line-height: 1.375;
  }
}

h1 {
  font-size: 2.5em;
  line-height: 1.25;
}

@media (min-width: 43.75em) {
  h1 {
    font-size: 2.5em;
    line-height: 1.125;
  }
}

@media (min-width: 56.25em) {
  h1 {
    font-size: 3em;
    line-height: 1.05;
  }
}

h2 {
  font-size: 1.625em;
  line-height: 1.15384615;
}

@media (min-width: 43.75em) {
  h2 {
    font-size: 2em;
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h2 {
    font-size: 2.25em;
    line-height: 1.25;
  }
}

h3 {
  font-size: 1.375em;
  line-height: 1.13636364;
}

@media (min-width: 43.75em) {
  h3 {
    font-size: 1.5em;
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h3 {
    font-size: 1.75em;
    line-height: 1.25;
  }
}

h4 {
  font-size: 1.125em;
  line-height: 1.11111111;
}

@media (min-width: 43.75em) {
  h4 {
    line-height: 1.22222222;
  }
}

/* blockquote {
  font-size: 1.25em;
  line-height: 1.25;
}

@media (min-width: 43.75em) {
	blockquote {
		font-size: 1.5em;
		line-height: 1.45833333;
	}
} */
