/* intro */
.intro {
  background-color: var(--primary-bg);
  animation: fade-in 1.5s;
}

.whoIMG {
  max-width: 65%;
  border-radius: 50%;
  place-self: center;
}

/* skills */

.skills {
  background-color: var(--secondary-bg);
}


